# Build-Verzeichnisse
bin/
obj/
out/

# User-spezifische Dateien
*.user
*.userosscache
*.suo
*.sln.docstates

# Auto-generierte Dateien
*.dll
*.exe
*.log
*.pdb
*.cache
*.mdb
*.ilk
*.lib
*.nupkg
*.obj
*.o
*.rsp
*.sln.docstates
*.csproj.user
*.vs/
.vscode/

# Paketmanager-Ordner
node_modules/
packages/

# Log-, Temp- und Backup-Dateien
*.log
*.tmp
*.bak
*.swp
*.sln.docstates

# Andere generierte Dateien
*.g.*
*.g.cs
*.g.i.*
*_i.c
*_i.h
*.vspscc
*.vssscc
_ReSharper.Caches/

# Test-Ergebnisse
TestResults/
*.trx
*.coverage
*.coveragexml
*.testsettings
*.runsettings
*.vspx
*.psess
*.testlog

# SpecFlow-Feature-Dateien
*.feature.cs